<links teams="allTeams | orderBy:location" select="actions.getTeam(team)" team="currentTeam"></links>

<div current-heading id="current-team" team="currentTeam"></div>
<div stats id="stats" team="currentTeam" averages="leagueStats"></div>

<ice team="currentTeam"></ice>

<div id="footer" class="container" ng-cloak>
  <p>
    Visualizing how teams spend their money. Larger circles represent more money spent. 
    <br>Hover over individual positions for more details.
    <br><br><br>
    Created by <a href="http://linkedin.com/in/meissler" target="_blank">Joe Meissler.</a>
    Data from <a href="http://http://capgeek.com/" target="_blank">capgeek.</a>
    Built using <a href="http://d3js.org" target="_blank">d3.js</a>
  </p>
</div>