<links teams="allTeams | orderBy:location" select="actions.getTeam(team)" team="currentTeam"></links>
<div id="selected-position"></div>
<div current-heading id="current-team" team="currentTeam"></div>
<div stats id="stats" team="currentTeam" averages="leagueStats"></div>

<ice team="currentTeam"></ice>

<div id="footer" class="container" ng-cloak>
  <p>
    Visualizing how teams spend their money. Larger circles represent more money spent. 
    <br>Hover over individual positions for more details.
    <br><br><br>
    Created by <a href="http://linkedin.com/in/meissler" target="_blank">Joe Meissler.</a>
    Data from <a href="http://http://capgeek.com/" target="_blank">capgeek.</a>
    Built using <a href="http://d3js.org" target="_blank">d3.js</a>
  </p>
</div>

<script type="text/underscore" id="popupTemplate">
  <h2><img src="images/<%= data.logo %>.gif">  <%= data.location %> <%= data.team %></h2>
  <br clear="left">
  <table cellspacing=0>
    <tr class="position-summary">
      <td><h3 style="font-weight: bold"><%= data.position %></h3></td>
      <td class="salary">$<%= data.cap %></td>
    </tr>
    <tr class="padding"><td></td></tr>
  <% _.each(data.players, function(player) { %>
    <tr>
      <td class="player-name">
        <%= player.full_name %>
      </td>
      <td class="salary">$<%= player.small_cap %></td>
    </tr>
  <% }) %>
  </table>
</script>